.home-btn{
    background-color: #974FD0;
}

.hero-section{
    width: 90%;
    margin: auto;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0rem;
    gap: 3rem;

}
.span-text{
    color: #974FD0;
}
.hero-section p{
    width: 100%;
}


.left, .right{
    width: 50%;
}
.right{
    display: flex;
    justify-content: center;


}

.right img{
    width: 90%;
    
}

@media (width > 900px) {
    .right{
        justify-content: flex-end;
    }
}

@media (width < 900px) {
    .hero-section p{
        width: 80%;
    }
    .right img{
        width: 80%;
    }
    h1,p{
        text-align: center;
    }
    .hero-section{
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 2.5rem 0rem;

    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}
